
<app-sidebar></app-sidebar>

<div class="sidebar-setting-top-line"></div>

<div class="header-bottom-line"></div>

<div class="main-content">
    
    <app-header></app-header>
    
    <main>
        <div class="page-header">
            <div class="page-header-title">
                <span>Company:</span>
                <div class="page-header-filter" [matMenuTriggerFor]="menu">
                    <span>{{ selected }}</span>
                    <img class="header-dropdown-img" src="https://img.icons8.com/material-sharp/24/000000/sort-down.png"/>
                </div>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <span (click)="selectedItem('All')" class="header-title">All</span>
                    </button>
                    <button mat-menu-item>
                      <span (click)="selectedItem('Filtered')" class="header-title">Filtered</span>
                    </button>
                  </mat-menu>
                
            </div>

            <app-add-contact-button></app-add-contact-button>
            
        </div>

        <div class="cards">
            <div class="card-single">
                <div class="card-flex">
                    <div class="card-info">
                        
                    </div>
                    <div class="card-chart">
                        <!-- 20:02 kalındı: https://www.youtube.com/watch?v=4WvT2cmuZ5M-->
                        
                        <router-outlet></router-outlet>
                    
                    </div>
                </div>
            </div>
        </div>
        
    </main>
</div>



